* {
    box-sizing: border-box;
}

main {
    position: relative;
    top: 50px;
    display: grid;
    grid-template-areas: "ar ar ar ar"
                         "se se se se";
    max-width: 900px;
    margin: auto;
}

header{
    position: fixed;
    width: 100%;
    margin: auto;
    z-index: 20;
}

nav {
    z-index: 10;
    background-color: lightblue;
    height: 50px;
    width: 100%;
    border: 1px solid lightblue;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 80%;
    grid-gap: 10px;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    width: 70px;
    text-align: center;
    margin-right: 5px;
}

nav ul li a{
    text-decoration: none;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 5px;
    color: black;
    display: block;
}

article{
    grid-area: ar;
    width: 100%;
    top: 0;
    text-align: center;
}

article h1 {
    text-align: left;
}

section {
    grid-area: se;
}

.legordulo {
    position: relative
}

.legordulo-menu {
    display: none;
    position: absolute;
    z-index: 20;
    padding: 0px;
    border: 3px solid transparent;
}

.legordulo-menu li a {
    background-color: white;
}

.legordulo:hover .legordulo-menu {
    display: block;
}

article img {
    width: 200px;
    border: 1px solid transparent;
    border-radius: 20px;
}

section {
    text-align: center;
}

#ablak {
    width: 30%;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    background-color: grey;
}

.keret {
    z-index: 10;
}

.bezar {
    text-align: right;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 50px;
}

.kiskep img {
    width: 100%;
}

.megjeleno-kep img {
    width: 100%;
    display: none;
}

