
*{
    box-sizing: border-box;
}

header{
    border: 1px solid black;
}

nav {
    z-index: 10;
    background-color: greenyellow;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    float: left;
}

nav ul{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;

    border: 1px solid black;
    border-radius: 5px;
    color: black;
    display: block;
}

.fejlec {
    position: fixed;

}

article{
    width: 100%;
}

.legordulo {
    position: relative
}

.legordulo-menu {
    display: none;
    position: absolute;
    z-index: 20;
}

.legordulo:hover .legordulo-menu {
    display: block;
}
