
*{
    box-sizing: border-box;
}


header{
    border: 1px solid black;
}


nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    float: left;
}

nav ul{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;

    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

.fejlec {
    position: fixed;
}

article{
    
}

